<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Form</title>
  <link href="stylesheets/com_up.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="angularjs/angular.min.js"></script>
  <script type="text/javascript" src="angularjs/companyup.js"></script>
</head>
<body ng-app="CompanyApp">
<div class="wrapper" ng-controller="CompanyController">
    <div class="form">
      <div>
      <h1>Company Sign up Form</h1>
    </div>
       <div class="inputfield">
          <label>First Name</label>
          <input type="text" class="input" ng-model="company.fname">
       </div>  
        <div class="inputfield">
          <label>Last Name</label>
          <input type="text" class="input" ng-model="company.lname">
       </div> 
       <div class="inputfield">
          <label>Company name</label>
          <input type="text" class="input" ng-model="company.name">
       </div> 
       <div class="inputfield">
          <label>Email Address</label>
          <input type="email" class="input" ng-model="company.Email">
       </div>  
       <div class="inputfield">
          <label>Password</label>
          <input type="password" class="input" ng-model="company.password">
       </div>  
      <div class="inputfield">
          <label>Confirm Password</label>
          <input type="password" class="input" ng-model="company.cpassword">
       </div> 
        <div class="inputfield">
          <label>Gender</label>
          <div class="custom_select">
            <select ng-model="company.gender">
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="Others">Others</option>
            </select>
          </div>
       </div> 
      <div class="inputfield">
          <label>Phone Number</label>
          <input type="text" class="input" ng-model="company.mobile">
       </div> 
       
      <div class="inputfield terms">
          <label class="check">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <p>Agreed to terms and conditions</p>
       </div> 
      <div class="inputfield">
        <button class="btn" ng-click="companyData(company)">Signup</button>
      </div>
      <p style="color:black"> Already have an account? <a href="/com_login">Sign in</a><br><br>

       <a href="#" style="color:blue">Back to home!</a>

    </div>
</div>	
	
</body>
</html>