<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" type="text/css" href="forgot.css">
</head>
<body>
  <center>
    <form>
      <h1><strong>Forgot Password?</strong></h1>
      <input type="email" required autocomplete="off" placeholder="Email Address" class="fp"><br><br>
      <input type="password" required autocomplete="off" placeholder="New Password" id="password" class="fp"><br><br>
      <input type="password" required autocomplete="off" placeholder="Confirm Password" id="confirm_password"
        class="fp"><br><br>
      <button type="submit" class="sbtn">Submit</button><br><br>
    </form>
  </center>
</body>

</html>