<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <title>Campus Hire</title>
  <!--  <link rel="stylesheet" href="style.css"> -->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>




  <!--   <a class="nav" href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <a class="nav" href="#">About us</a>
        <a class="nav" href="#">Candidate</a> -->
  <div class="navbar">
    <img src="images/logo1.png" style="height:120px;width:120px;margin-top: 20px">
    <div class="navbar_inner">


      <a href="#home"><i style="font-size:20px" class="fa fa-home" aria-hidden="true"></i> Home</a>
      <a href="/admin"><i style="font-size:20px" class="fa fa-user" aria-hidden="true"></i> Admin</a>
      <a href="#news"><i style="font-size:20px" class="fa fa-info-circle" aria-hidden="true"></i>  About us</a>
  
    <div class="dropdown">
      <button class="dropbtn">
        <i style="font-size:20px" class="fa fa-user-circle" aria-hidden="true"></i> Candidate
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/stu_in">Sign in</a>
        <a href="/stu_up">Sign up</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        <i style="font-size:20px" class="fa fa-user-circle" aria-hidden="true"></i> Employee
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/com_login">Sign in </a>
        <a href="/com_up">Sign up</a>
      </div>
    </div>
    
    <a href="#listed jobs"><i style="font-size:20px" class="fa fa-list" aria-hidden="true"></i> Listed Jobs</a>
    <a href="#Contacts">
      <i style="font-size:20px" class="fa fa-phone" aria-hidden="true"></i> Contacts
    </a>
    </div>
  </div>

  <div class="bgimage">
    <img src="images/emp.jpg" class="bgimage">
    <div class="title">
      <h1>CAMPUS HIRE </h1>
      
    </div>
  </div>
  <div class="wall">
    <h1 style="text-align: center;font-size: 40px"> Don't chase the Jobs,Let the Jobs Chase You</h1>
  </div>
<hr>

  <div class="row">
        <div class="column21" style="color:white">
             <h1 style="color: black;text-align: center;font-size: 30px;margin-top: 100px;font-style: URANIUM MAFIA">"If You Can Dream It, You Can Do It"</h1>
        </div>
       
   
        <div class="column22" style="color:black">
             <h1 style="color: white;text-align: center;font-size: 30px;margin-top: 100px;font-style: URANIUM MAFIA">"Campus Recruitment Made Simple"</h1>
        </div>
  </div>


  <div class="divspace">
    <hr>

  </div>

 

  <div class="row">
  <div class="column11">
    <div class="card">Upload Resume </div>
  </div>
  <div class="column12">
    <div class="card">Expose to companies to match skillset</div>
  </div>
  <div class="column13">
    <div class="card">Attending Interviews</div>
  </div>
  <div class="column14">
    <div class="card">Get Your Dream Job</div>
  </div>
</div>




  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <h4>Follow Us</h4>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i
        class="fa fa-google-plus"></i></a>
    <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i
        class="fa fa-linkedin"></i></a>
    <p> <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a></p>

    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
      <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
      <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
          <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
  </footer>
</body>

</html>