<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <title>Campus Hire</title>
  <!--  <link rel="stylesheet" href="style.css"> -->
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar">
    <img src="images/logo1.png" style="height:120px;width:120px;margin-top: 20px">
    <div class="navbar_inner">
      <a href="#home"><i style="font-size:20px" class="fa fa-home" aria-hidden="true"></i> Home</a>
      <a href="/stu_dash"><i  style="font-size:20px"  class="fa fa-newspaper-o" aria-hidden="true"></i>Dashboard</a>
      <a href="/profile"><i style="font-size:20px" class="fa fa-user-circle" aria-hidden="true"></i>Profile</a>
      <a href="#news"><i style="font-size:20px" class="fa fa-info-circle" aria-hidden="true"></i>  About us</a>
      <a href="#listed jobs"><i style="font-size:20px" class="fa fa-list" aria-hidden="true"></i> Listed Jobs</a>
      <a href="#Contacts">
      <i style="font-size:20px" class="fa fa-phone" aria-hidden="true"></i> Contacts
      </a>
    </div>
  </div>
  <div class="bgimage">
    <img src="images/emp.jpg" class="bgimage">
    <div class="title">
      <h1>CAMPUS HIRE </h1>
    </div>
  </div>
</body>
</html>