<!DOCTYPE html>
<html>
<head>
	<title>SIGN IN</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/stu_style.css">
</head>
<body>
	<div class="login-box">
		<h1> <bold> STUDENT LOGIN</bold> </h1>
			<form>
				<p>Email</p>
				<input type="email" name="Email" placeholder="Enter Your Email">
				<p>Password</p>
				<input type="password" name="Password" placeholder="Enter Your Password">
				<input type="submit" name="Submit" value="Login">
				<p><a href ="#" id="forgot-password"> New User? </a></p>
				<br>
				<p><a href ="#" id="new-user"> Forget Password </a></p>
			</form>
	</div>
</body>
</html>